    .covid-banner {
        font-size: 14px;
        font-family: $fontbnb;
        padding: 23px 0px;
        text-align: center;
        font-weight: 600;
        text-decoration: underline;
        white-space: nowrap;
        display: block;
        color: #484848;
        line-height: 18px;
    }