
.form-container {
    display: flex; 
    justify-content: center;
    width: 100%;
    max-width: 568px;
    border-radius: 12px;

    .form-header {
        display: flex;
        justify-content: center;
        min-height: 64px;
        padding: 0 24px;
        border-bottom: 1px solid $border;
        outline: 2px solid $border;
        align-items: center;
    }

    .form-title {
        font-weight: bold;
    }

    .form-or {
        text-align: center;
        font-weight: bolder;
    }

    
    .login {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 500px;
    }
    
    .create_account {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 500px;
    }

    .auth-input {
        border: 1px solid red;
        background-color: $error-background;
    }

    .errors-list {
        color: rgb(193, 53, 21);
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        font-family: $fontbnb;
    }
}
