    
    
    .footer {
        background-color: rgb(241, 238, 238);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 1.43;
        font-size: 14px;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 300px;
        padding-left: 300px;


        .footer-my-links, .footer-languages {
            display: flex;
            flex-direction: column;
            padding-left: 24px;
            padding-right: 24px;
            font-size: 12px;
            :hover {
                cursor: pointer;
                text-decoration: underline;

            }
        }

        a {
            padding-bottom: 25px;
        }

        .footer-heading {
            color: #484848;

        }

        h3 {
            text-align: center;
            font-size: 14px;
            padding-bottom: 25px;
            color: black;
            font-weight: bold;
        }


    }
    
    
    
    
    
    
    
    body {
        font-family: $fontbnb;
    }

     input {
        display: inline-block;
        position: relative;
     }

     input[type="text"], input[type="password"] {
        display: flex;
        border-radius: 6px;
        color: #484848;
        font-size: 16px;
        width: 95%;
        border: 1px solid #D3D3D3;
        padding: 11px;
        height: auto;
     }

     input[type="submit"], .guest-signin {
         cursor: pointer;
         position: relative;
         text-align: center;
         font-size: 16px;
         line-height: 20px;
         font-weight: 600;
         padding: 14px 24px;
         color: $white;
         min-width: 200px;
         height: 100%;
         background-size: 200%;
         border-radius: 8px;
         transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
         background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
     }

     .hidden-footer {
         display: none;
     }



     .space-taker {
         height: 80px;
         display: block;
     }


     


